body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}

#signin-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(207, 197, 197);
    border-radius: 10px;
}

#signin-btn {
    height: 35px;
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

